.list {
  list-style: none;
  display: flex;
  align-items: center;
  float: left;
}
li {
  position: relative;
}
li ul {
  position: absolute;
  z-index: 2;
  display: none;
}
li:hover ul {
  display: block;
  position: inherit;
  transition: all 0.3s;
}
.list-items a{
    color: #cccccc;
    text-decoration: none;
}
.list-items{
  list-style-type: none;
}
.list-menu{
    float: right;
    display: none;
}