.list {
  list-style: none;
  display: flex;
  align-items: center;
}
li {
  position: relative;
}
li ul {
  position: relative;
  z-index: 2;
  display: none;
}
li:hover ul {
  display: block;
  position: inherit;
  transition: all 0.3s;
}
.list-items a{
    color: #cccccc;
    text-decoration: none;
}
.list-menu{
    float: right;
    padding: ;
}